<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        <th:block th:each="item: ${items}">
            <li>
                <span th:text="${item.name} + ' ($' + ${item.price} + ')'"></span>
                ::
                [<a th:href="@{|/cart/add/${item.id}|}">Add To Cart</a>]
            </li>
        </th:block>
    </ul>
    <a th:href="@{/cart/view}">View Cart</a>
</body>
</html>